/*Elements*/ 
html,body {
    background-image: linear-gradient(#0a3562, white);
     
}

/*ids*/ 
#search-bar-container {
    padding-right: 30px;
}
#nav-container {
    
    padding: 20px;
    background-color: #0a3562;
}
#navbar{
    flex-wrap: wrap;
}
#title {
    color: #ffffff;
    padding-left: 30px;
}

#week{
    padding-left: 20px;
}

.day, .temp, #CurrentTime, #current-icon {
    text-align: center;
}


.weekdayTitle {
    background-color: #f1ae1a;
    color: #0a3562;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid lightgray;
}

.weekday {
    background-color: #577397;
    border:  5px solid lightgray;

    text-align: center;
    height: 350px;
}


.highTemp {
    color: #0a3562;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}
.lowTemp {
    color: #577397;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}
.temps{

    background-color:white;
       height: 60px;
      

}
.temps2 {
    background-color: white;
    height: 60px;
    margin:0px 0px 0px 0px;
}

.rainChance {
    height: auto;
    background-color: #0a3562;
    color: white;
    font-weight: bolder;
}
.white {
    color: white;
}

/*class*/ 

#iconimage{

    height:200px;
}

#current-weather-container {
    padding: 40px 0;
    
}

#ChosenCity {
    background-image: linear-gradient(#ffffff,#577397);
    color: #0a3562;
    border: 5px solid lightgray;
    align-items: center;
    justify-content: center;
}
#CurrentLocation {
    font-weight: bolder;
}
 #CityName {
    font-weight: bolder;
    font-size:25px;
    color:white
}
#map {
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  height: 360px;
  width: 90%;
}
#weather-forecast {
       
    flex-wrap: nowrap;
    justify-content: start;
        align-items: none;
        overflow-x: auto; 
}
#map-container{
    display: flex;
    justify-content: center;
    padding: 25px;
}



@media screen and (min-width: 1775px) {
    #weather-forecast {
    /*   height: 100vh;*/
        justify-content: center;
        align-items: none;
        overflow-x: auto; 
    }
}


@media only screen and (max-width: 1400px){
    #weather-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}

@media (max-width: 992px) {
#navbar{
    display: none;
    justify-content: flex-start;
}
#title{
    justify-content: space-around;
    
}


.navbar {
    display: flexbox;
    justify-content: space-between;
    color: #0a3562;
    font-size: x-large;
    font-weight: bolder;
}

}

@media screen and (max-width: 767px){
    
    #weather-forcast{
    margin-left:10px;
    justify-content: center;
    align-items: none;
    overflow-y: scroll; 
    }
    #current-weather-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        
    }

    #ChosenCity{
        padding: 20px 0;
        width: 90%;
        
      }

    #week{
        padding: 20px 0;
        width: 90%;
    }
    
    #nav-container {
        float: none !important;
       
    }
   
    
  
}