

.day, .temp, #CurrentTime, #current-icon {
    text-align: center;
}


.weekdayTitle {
    background-color: #f1ae1a;
    color: #0a3562;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid lightgray;
}

.weekday {
    background-color: #577397;
    border:  5px solid lightgray;

    text-align: center;
    height: 350px;
}


.highTemp {
    color: #0a3562;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}
.lowTemp {
    color: #577397;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}
.temps{

    background-color:white;
       height: 60px

}
#iconimage{

    height:200px;
}
.rainChance {
    height: auto;
    background-color: #0a3562;
    color: white;
    font-weight: bolder;
}

html,body {
    background-image: linear-gradient(#577397, white);
    height:100%
}

#ChosenCity {
    border: 5px solid lightgray;
}
#CurrentLocation {
    font-weight: bolder;
}
 #CityName {
    font-weight: bolder;
    font-size:25px;
    color:white
}
#map {
  height: 360px;
}
.white {
    color: white;
}

#weather-forecast {
    justify-content: start;
    align-items: none;

}


